bin/*
compiler/bin/*
compiler/dep/*
compiler/generated/*
compiler/obj/*
dep/*
generated/*
obj/*
build*
.clangd
git.hash
librobot/c/robot_1.h
librobot/c/robot_2.h
librobot/c/robot_3.h
librobot/c/robot_4.h
librobot/cpp/robot.hpp
*.deb
resources/generated_src/
resources/make.log
resources/makebinary
resources/makefile
